@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #777; }

ul {
  list-style: none; }

img {
  width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #ff3366, #ba265d) no-repeat center center/cover; }

.btn-inline {
  display: inline-block;
  font-size: inherit;
  color: #eb2f64;
  background: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn-inline:hover {
    color: #333; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block; }

.hotel-overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2; }
  .hotel-overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .hotel-overview__stars {
    display: flex;
    margin-right: auto; }
  .hotel-overview__icon-star, .hotel-overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64; }
  .hotel-overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
  .hotel-overview__icon-location {
    margin-right: 0.5rem; }
  .hotel-overview__rating {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: #eb2f64;
    margin-left: 3rem;
    padding: 0 2.25rem; }
  .hotel-overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .hotel-overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: #ccc;
  padding: 2.5rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background: #f0eeee; }
  .search__button {
    border: none;
    background: #f4f2f2;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: '';
      width: 3px;
      height: 100%;
      background-color: #eb2f64;
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      width: 100%;
      transform: scaleY(1); }
    .side-nav__item:active::before {
      background-color: #ff3366; }
  .side-nav__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #faf9f9;
    position: relative;
    padding: 1.5rem 3rem;
    z-index: 10; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    font-size: 0.8rem;
    background: #eb2f64;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.container {
  max-width: 120rem;
  background: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  margin: 8rem auto; }

.content {
  display: flex; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 3.25rem;
    width: auto;
    margin-left: 2rem; }

.hotel-view {
  flex: 1;
  background-color: #fff; }

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #333; }
