.description {
  flex: 0 0 60%;

  background: #fff;
  box-shadow: $shadow-light;
  padding: 3rem;
  margin-right: 4.5rem;

  @include respond(screen-md) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @include respond(screen-sm) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
