// Button
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    $primary-color-light,
    $primary-color-dark
  );
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      $primary-color-light,
      $primary-color-dark
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

// Button Inline
.btn-inline {
  display: inline-block;
  font-size: inherit;
  color: $primary-color;
  background: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $dark-grey-color-1;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
