// Reviews
.review {
  background: #fff;
  box-shadow: $shadow-light;
  position: relative;
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;

  &::before {
    content: '\201C';
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: $light-grey-color-2;
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    z-index: 1;
  }

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: $dark-grey-color-3;
  }

  &__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: $primary-color;
  }
}
