// Resetting
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Setting the value of 1rem
html {
  font-size: 62.5%; // 1rem = 10px
}

// Basic styles
a {
  text-decoration: none;
  color: $default-text-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
