body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $dark-grey-color-2;

  height: 100%;

  background: linear-gradient(
      to right bottom,
      $primary-color-light,
      $primary-color-dark
    )
    no-repeat center center / cover;
}

// Paragraph
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
